body {
    background-color: #A0B161;
    color: black;

    margin: 0px;
  }
.dark-body
{
    background-color: #702727;
    color: rgb(255, 255, 255);

    margin: 0px;
}
  
  /*body class style*/
.dark-mode {
    background-color: black;
    color: white;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: #78864B;
    border-radius: 0%;
}
#dark-header
{
    color: white;
    overflow: hidden;
    padding: 20px 10px;
    background-color: #000000;
    border-radius: 0%;
}
  
/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
/* Float the link section to the right */
.header-right {
    float: none;
    position: absolute;
    left: 40%;
}

.dm-toggle{
position: fixed;
top: 15px;
right: 30px;

z-index: 10;
}
.header-right, .dm-toggle{
    border: 0px !important;
    padding: 12px !important;
    font-size: 18px !important;
    line-height: 25px !important;
    border-radius: 4px !important;
    font: inherit;
    text-align: center;
    cursor: pointer;
    background: transparent;
    color: black;
}

hr{
    margin-top: 40px;
    margin-bottom: 0px;
    border-top: 1px solid #000;
}
footer{
    margin-top: 25px;
    background-color: #3C4F30;
    height: 100px;
}
.hidden{
    display: none;
}

div{
    border-radius: 25px;
}
/*Light mode about page*/
#about-header-image img{
    width: 100%;
    margin-top: 25px;
}
#about-timeline{
    background-color: #506640;
    width:100%;
    position: relative;
    margin-top: 25px;
}
#about-timeline #about-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    text-align: center;
}
#about-wrapper div{
    margin:10px;
}
#about-wrapper p{
    width: 90%; 
}
#about-wrapper img{
    width: 90%;
}
.vertical-line{
    border-left: 4px solid #3C4F30;
    height: 90%;
    position:absolute;
    left: 50%;
    margin-left: -2px;
    top: 5%;
}


/*LightMode Home Page*/
.image-banner { width: 100%; height: 500px; background: url('images/homepagePhoto.jpg') no-repeat center/cover; border-radius: 0;}
.intro-text { font-size: 30px;  display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; }
        .intro-text h2 { text-align: center; width: 100%; max-width: 1400px; }
        .intro-text p {width: 100%; max-width: 1400px; }

.arrow { text-align: center; font-size: 30px; padding: 20px; cursor: pointer; }

.content-section { display: flex; align-items: center;
    background: #EEE9BF; 
    border-radius: 0; 
    margin: 35px;
    border: 3px solid rgb(31, 34, 53)}
.content-section img { padding:0; width: 40%; height: auto; }
.content-section .text { width: 60%; padding: 20px; font-size: 30px; }
/*DarkMode Home Page*/
#para-content-section { display: flex; align-items: center;
    background: #ff5f5f; 
    border-radius: 0; 
    margin: 35px;
    border: 3px solid rgb(31, 34, 53);
    color: white;
}
/*particle*/
#particles-js1 {
    position: fixed;  /* 固定在背景 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* 确保它在所有内容的下方 */
}
    
/*flame*/
#fireCanvas
{
    position: fixed;
    mix-blend-mode: lighten; 
    bottom: -100px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 150%; 

    max-height: 500px;
    min-width: 1400px;
    min-height: 300px;
    z-index: 100;
}
#fireCanvas2
{
    position: fixed;
    mix-blend-mode: hard-light; 
    bottom: -100px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 150%; 

    max-height: 500px;
    min-width: 1400px;
    min-height: 300px;
    z-index: 100;
}


/*Visit page css*/
#visit-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}
#visit-wrapper div{
    background-color: darkgray;
    margin: 20px;
}
#visit-wrapper div p{
    text-align: center;
}
#map{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}
#map img{
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
.visit-larger-box{
    grid-row-start: 2;
    grid-row-end: 4;
}
/* gallery */
#insta-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#insta-container div{
    padding: 20px;
}
.container{
    width: 80%;
    float: center;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    border-radius: 5%;
    background-color: #BDB77C;
    align-items: center;
    justify-content: center;
}


.container img{
    width: 250px;
    height: auto;
    margin: 5px;
}

/* para-about page css */
.dark-mode section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}
.dark-mode section h1 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 10px;
}
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 1600px;
    gap: 30px;
    padding-bottom: 20px;
}
.content-wrapper img {
    width: 48%;
    max-width: none;
    height: auto;
    border-radius: 15px;
}
.text-box {
    width: 45%;
    max-width: none;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2em;
}

#para-about-satanic-rituals {
    background-color: black;
}

#para-about-satanic-rituals .text-box {
    background-color: #40100C;
    color: white;
}

#para-about-ghost-stories {
    background-color: #40100C;
}

#para-about-ghost-stories .text-box {
    background-color: black;
    color: white;
}

#para-about-paranormal-sightings {
    background-color: black;
}

#para-about-paranormal-sightings .text-box {
    background-color: #40100C;
    color: white;
}
